<!DOCTYPE html>
<html>
<head>
    <title>Text Adventure</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="game-container">
        <div id="game-output"></div>
        <div id="input-area">
            <input type="text" id="command-input" placeholder="Enter your command...">
            <button onclick="sendCommand()">Submit</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/game.js') }}"></script>
</body>
</html>
